**/__pycache__
**/.DS_STORE
secret.py
.cache.json
cache/
temp/
notes/MattPublic.json
notes/MattVogel.json
notes/json_archive/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
