/* <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:100&amp;lang=en" /> */
/* <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"> */
:root {
    --background-color: #EEEEEE;
    --page-background: #212121;
    --text-color: #ededed;
    --color-alpha: #50a8d8;
    --color-embed: 255, 152, 0;
    --color-link: 73, 197, 91
}

@font-face {
  font-family: 'FreightSans W03';
  src: url('/notes/templates/css/FreightSans W03.woff2') format('woff2');
}
@font-face {
  font-family: 'Questrial Regular';
  src: url('/notes/templates/css/Questrial-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Domine Medium';
  src: url('/notes/templates/css/Domine-Medium.woff2') format('woff2');
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/*
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
*/

html, body {
    padding: 0;
    margin: 0;
    background: #f5eded;
    font-family: 'Questrial', sans-serif;

    width: 100%;
    height: 100%;

    font-size: 1.07em;
    line-height: 1.8em;
    color:#334259;
}
.page-title{
  font-family: 'Domine Medium', serif !important;

}
p, li {
    line-height: 24px;
    -webkit-letter-spacing: -0.024%;
    -moz-letter-spacing: -0.024%;
    -ms-letter-spacing: -0.024%;
    letter-spacing: -0.024%;
}

body {
    display: flex;
}

#header {
    flex: 0 0 1;
    background: #FFFFFF;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 0px;
    border-right-width: 1px;

    padding: 48px 20px;
}

#logo {
    display: block;
}
#logo svg {
    width: 40px;
    height: 40px;
}

.stat {
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
}

.pinch-zoom-container {
    flex: 1;
    /*position: inherit !important;*/
    height: 100%;
    overflow-x: auto !important;
    white-space: nowrap;
    padding: 0px 15px;

}
.pinch-zoom {
    max-width: 100%;
}

.page {
    white-space: normal;
    display: inline-block;
    width: 620px;
    padding: 20px 15px 100px 15px;
    max-width: 100%;
    height: 100% !important;
    max-height: 100%;
    overflow-y: auto;
    vertical-align: top;
    box-sizing: border-box;
}
.page:last-child {
    margin-right: 15px;
}

.page > .content {
    background: #FFFFFF;
    padding: 20px 50px;
    /*position: relative;*/
    border-radius: 10px;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05);
}

h1 {
    margin-top: 0;
}
/* ------ links ------ */

a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    /* opacity: 0.5; */
}

/* ------ Tags ------ */

a.internal.tag {
    color: #FFFFFF;
    background-color: rgb(var(--color-link), 1);
    padding: 1px 6px;
    border-radius: 4px;
    white-space: nowrap;
}
a.internal.tag.private {
    /* color: #FFFFFF; */
    background-color: transparent !important;
    padding: 0px 0px !important;
    white-space: nowrap;
}
/* ------ Block Embeds ------ */

a.internal.embed, a.internal-block.embed {
  background:
     linear-gradient(
       to right,
       rgb(var(--color-embed)) 0%,
       rgb(var(--color-embed)) 3px,
       transparent 3px
     );
	background-repeat: repeat-x;
	background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}
a.internal.embed:hover, a.internal-block.embed:hover {
  /* opacity: 0.5; */
  background:rgba(var(--color-embed), .5);
  border-radius: 4px;
  width: 2px;
  margin-right: 8px;
  opacity:1;

  text-decoration: none;
}
/* a.internal.embed {
  border-bottom: none;
}
a.internal.embed:hover {
  content: "";

  display: inline-block;

  width: 2px;

  border-radius: 40px;

  height: 12px;

  background: #ff9800;

  margin-right: 8px;

  text-decoration: none;
} */
/* ------------ */

a.internal {
    color: rgb(var(--color-link), 1);
    text-decoration: none;
    /* line-height: 1; */
    position: relative;
    z-index: 0;
    /* padding: 3px 0px 8px 3px; */
    /* top: -2px; */
    /* vertical-align: bottom; */
    transition: text-decoration 0.3s ease-out 0s;
}

a.external {
    color: rgb(147, 100, 235);
}
a.settings {
    color: rgb(250, 126, 54);
}

a.internal.linked {
    /* text-decoration: underline; */
    /* background: rgba(55, 157, 74, 0.25); */
    /* border-radius: 4px; */
    padding: 1px 6px;

}
a.internal.linked:hover {
  opacity:1 !important;
}
a.internal.linked:visited {
  text-decoration: none;
  position: relative;
  color: rgb(var(--color-link), 1);
}
a.internal.linked:after, a.internal.linked:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: rgb(var(--color-link), 1);
  transition: 0.2s;
}
a.internal.linked:hover:after, a.internal.linked:visited:hover:after {
  width: 100%;
}

a.internal.private {
    color: #AAAAAA;
}

code {
    white-space: pre;
    font-size: 13px;
    background: #EEEEEE;
    padding: 1px 10px;
    border: 1px solid #BBB;
    border-radius: 4px;
    display: inline-block;
}

img {
    width: 100%;
}


#svg {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    pointer-events: none;
    user-select: none;
}

iframe {
    overflow: hidden;
    overflow-y: hidden;
    border: none;
}


.tippy-box>.tippy-arrow:before {

    transform: scale(2);
}

/*           */
/* backlinks */
/*           */

.backlinks {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    /*margin: 15px;*/
    margin-top: 20px;
}

.backlinks h3 {
    /*color: #666666;*/
    opacity: 0.5;
    margin: 0;
    padding: 15px 10px;
}

.backlinks-container {
    display: flex;
    flex-wrap: wrap;
}

.backlinks .backlink-item {
    width: 50%;
    max-width: calc(49%-10px);
    display: inline-block;
    color: #000000;
    vertical-align: top;
    padding: 0px 10px;
    border-radius: 10px;
    transition: all .15s ease-out;
    box-sizing: border-box;
}
.backlinks .backlink-item.linked {
    background: rgba(55, 157, 74, 0.1);
}
.backlinks .backlink-item:hover {
    background: #EBEBEB;
    opacity: 1;
}
.backlinks .backlink-item.linked:hover {
    background: rgba(55, 157, 74, 0.25);
}
.backlinks a.backlink-item > p {
    font-size: 12px;
    line-height: 16px;
}
.backlink-text {
    opacity: 0.5;
}


@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    #header {
        border-right-width: 0;
        border-bottom-width: 1px;
        padding: 10px 30px;
    }

    #logo {
        margin: 0;
    }


    #logo svg {
        width: 30px;
        height: 30px;
    }

    #header > * {
        display: inline-block;
        margin-right: 10px;
    }

    .pinch-zoom-container {
        padding: 0;
    }

    .page > .content {
        padding: 10px 20px;
    }

    .backlinks .backlink-item {
        display: block;
        width: 100%;
    }

    .page {
        padding-bottom: 150px;
    }
}

body.dark, body.dark a.embed{
    background-color: #222222;
    color: #FFFFFF !important;
}

body.dark #header {
    background-color: #000000;
    border-color: #222222;
}

body.dark #logo svg * {
    stroke: #FFFFFF;
}

body.dark .page > .content {
    background-color: #000000;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);
}

body.dark .backlinks {
    background-color: #000000;
}

body.dark .backlinks h3 {
    color: #999999;
}

body.dark .backlinks .backlink-item {
    color: #FFFFFF;
}

body.dark .backlinks .backlink-item.linked {
    background: rgba(55, 157, 74, 0.2);
}
body.dark .backlinks .backlink-item:hover {
    background: #222222;
}
body.dark .backlinks .backlink-item.linked:hover {
    background: rgba(55, 157, 74, 0.3);
}

body.dark img {
    filter: invert() hue-rotate(180deg);
}
span.attribute {
  font-weight: bold;
  list-style: none;
}

body.dark #twitter-widget-0 {
    filter: invert() hue-rotate(180deg) !important;
}

body.dark code{
    background: #111111;
}
/*                  */
/* select  */
/*                  */
select.text-versioning {
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .2em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  padding: 2px;
}
body.dark select.text-versioning {
	color: #FFFFFF;

	background-color: #373434;
}
body.dark select.text-versioning::-ms-expand {
	display: none;
}
body.dark select.text-versioning:hover {
	border-color: #888;
}
body.dark select.text-versioning:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #FFFFFF;
	outline: none;
}
body.dark select.text-versioning option {
	font-weight:normal;
}
/*                  */
/* Custom data tags */
/*                  */

a[data-tag="tweet"] {
    background: transparent;
    color: #81D5ED !important;
    padding: 3px 7px;
    line-height: 2em;
    font-weight: 700 !important;
    border-radius: 4px;
}
a[data-tag="video"] {
    background: #9769FF !important;
    color: white !important;
    padding: 3px 7px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 2em;
}

a[data-tag="quotes"], a[data-tag="quote"] {
    background: #233ED9 !important;
    color: white !important;
    padding: 3px 7px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 2em;
}

a[data-tag="fav"] {
  background: transparent !important;
  color: #F44336 !important;
}

a[data-tag="fav"]:before {
  background: transparent !important;
    content: '★ '
}

a[data-tag="exercise"] {
    background: #4FC460 !important;
    color: white !important;
    padding: 3px 7px;
    font-weight: 700;
    border-radius: 4px;
    line-height: 2em;
}
a[data-tag="exercise"]:before {
  content: '⚯ ';
  background: #4FC460;
  color: white;

}

a[data-tag="religion"] {
  background: transparent !important;
  color: #FF5047 !important;
  padding: 3px 7px;
  line-height: 2em;
  font-weight: 700;
  border-radius: 4px;
}
a[data-tag="newsletter"] {
  background: #FC766F !important;
  color: #fff !important;
  padding: 3px 7px;
  line-height: 2em;
  font-weight: 700;
  border-radius: 4px;
}
a[data-tag="Quick Capture"] {
  background: transparent !important;
  color: #4FC460 !important;

}
a[data-tag="Quick Capture"]:before {
    content: '🖋 ';
    color: transparent;
    text-shadow: 0 0 0 #4FC460;

}
a[data-tag="idea bank"] {
  background-color: transparent !important;
  color: #FCB815 !important;
  padding: 3px 4px;
  font-weight: 700;
  line-height: 1.4em;

}
a[data-tag="idea bank"]:before {
   content: '✦ ';
  /*-webkit-text-stroke: 1px black;*/
}
a[data-tag="campaign 1"]:before {
   content: '⚑ ';
   /*-webkit-text-stroke: 1px black;*/

}
a[data-tag="thoughts"]:before {
    /* content: '🧠 ';*/
    color: transparent !important;
    text-shadow: 0 0 0 #37AC94;

}

a[data-tag="recipes"] {
    color: #FF5722 !important;
    background-color: transparent !important;
    padding: 3px 4px;
    font-weight: 500;
    line-height: 1.4em;
    /* border: 2px solid #FF5722 !important; */

}
a[data-tag="recipes"]:before {
    content: '🌶 ';
    color: transparent;
    text-shadow: 0 0 0 #FF5722 !important;
    /* text-shadow: 0 0 0 rgb(var(--text-color), 1) !important; */
}

a[data-tag="personal"] {
    background-color: #616161 !important;
    color:#F5F5F5 !important;
  	padding: 3px 7px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 2em;
}

a[data-tag="awe"] {
    color: rgb(var(--color-primary)) !important;
    background-color: transparent !important;
    padding: 3px 4px;
    font-weight: 700;
    line-height: 1.4em;
}

a[data-tag="conversations"]:before {
    content: '💬 ';
    color: transparent;
    text-shadow: 0 0 0 var(--color-primary-contrast)  !important;
}

a[data-tag='seedlings'], span[data-link-title^='seedlings'] .rm-page-ref  {

  color: #0DC670 !important;
  background-color: transparent !important;
  padding: 3px 3px;
  font-weight: 600;
  line-height: 1.4em;

}
a[data-tag="seedlings"]:before {
    content: '🌱';
}

a[data-tag='budding'], span[data-link-title^='budding'] .rm-page-ref  {

  color: #0B9351 !important;
  background-color: transparent !important;
  padding: 3px 3px;
  font-weight: 600;
  line-height: 1.4em;

}
a[data-tag="budding"]:before {
    content: '🌿';
}


a[data-tag='evergreen'], span[data-link-title^='evergreen'] .rm-page-ref {

  background: #0DC670 !important;
  color: #fff !important;
  padding: 3px 8px;
  line-height: 2em;
  font-weight: 500;

}
a[data-tag="evergreen"]:before {
  content: '🌲';
  text-shadow: 0 0 3px white;
  position: relative;
  /* color: transparent;
  text-shadow: 0 0 0 #FF5722 !important;*/
}
